:root {
    --rowNum: 16;
    --colNum:16;
}

.wrapper {
    height: 500px;
    width: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: repeat(var(--colNum), 1fr);
    grid-template-rows:  repeat(var(--rowNum), 1fr);
    place-items: stretch;
    justify-content: center;
    align-content: center;
    column-gap: 0;
    row-gap: 0;
}

.pixel {
    place-self: stretch stretch;
}

.active {
    background-color: grey;
}